* { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

body, html {
    margin: 0; padding: 0; width: 100%; height: 100%;
    background-color: #000000 !important; overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Lluvia de Píxeles */
.pixel-caida {
    position: absolute; background: white; width: 2px; height: 2px;
    border-radius: 50%; opacity: 0.5; pointer-events: none;
    box-shadow: 0 0 5px #ff00ff; z-index: 1;
}

/* Pantalla de Entrada */
.pantalla-inicio { 
    position: fixed; top: 0; left: 0; z-index: 9999; 
    width: 100%; height: 100%; background: #000;
    display: flex; justify-content: center; align-items: center; cursor: pointer;
}

.titulo-entrada, .footer-titulo { 
    font-size: 3.2rem; color: #FFFFFF !important; 
    margin: 0; letter-spacing: -1px; text-transform: uppercase;
}

.subtitulo-entrada, .footer-subtitulo { 
    font-family: 'Teko'; color: #ff00ff !important; 
    font-size: 1.8rem; letter-spacing: 15px; margin: 0; text-transform: uppercase;
}

.divider { width: 45px; height: 2px; background: #ff00ff; margin: 20px auto; box-shadow: 0 0 10px #ff00ff; }

.instruccion { 
    font-family: 'Teko'; color: #FFFFFF !important; 
    letter-spacing: 4px; animation: breath 2s infinite; opacity: 0.7; 
}

@keyframes breath { 0%, 100% { opacity: 0.3; } 50% { opacity: 1; } }

/* Contenedor de Video */
.contenido { display: none; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; z-index: 10; }

.video-wrapper { width: 90%; display: flex; justify-content: center; }

#miVideo { 
    height: 55vh; /* Ajustado para que no sea ni muy chico ni muy grande */
    width: auto; max-width: 100%;
    border-radius: 5px; border: 1px solid rgba(255, 255, 255, 0.1);
    transition: opacity 1s ease;
}

.footer-texto-doble { text-align: center; margin-top: 25px; transition: all 3s ease; }
.al-centro { transform: translateY(-30vh) scale(1.1); }

/* Sol Estilizado (No exagerado) */
#solFinal {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 220px; height: 220px; opacity: 0; visibility: hidden; transition: 3s;
}
#solFinal.mostrar-sol { opacity: 1; visibility: visible; }

.centro-sol { 
    position: absolute; width: 55px; height: 55px; background: #FFFFFF; 
    border-radius: 50%; box-shadow: 0 0 30px #FFFFFF, 0 0 50px #ff00ff;
    left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 5;
}

.rayos {
    position: absolute; width: 100%; height: 100%;
    background: repeating-conic-gradient(from 0deg, #FFFFFF 0deg 4deg, transparent 4deg 12deg);
    border-radius: 50%; opacity: 0.25; animation: rotar 30s linear infinite;
}

@keyframes rotar { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
